.musicPlayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
}

.glyphicon {
  font-size: 25px;
}

.playerIcon {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
}

.songTime {
  color: black;
}

.progressBar {
  margin-left: 10px;
  min-width: 350px;
}
