.musicPlayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
}

.glyphicon {
  font-size: 25px;
}

.playerIcon {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
}

.songTime {
  color: black;
}

.progressBar {
  -webkit-appearance: none;
  min-width: 350px;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  margin-left: 10px;
}
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4c4c4c;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.progressBar::-webkit-slider-thumb:hover {
  background: grey;
}
.progressBar:active::-webkit-slider-thumb {
  background: grey;
}
.progressBar::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #4c4c4c;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.progressBar::-moz-range-thumb:hover {
  background: grey;
}
.progressBar:active::-moz-range-thumb {
  background: grey;
}
