.songIndex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.songIndexItem {
  height: auto;
  width: auto;
  max-width: 350px;
  max-height: 350px;
  margin: 50px;
  cursor: pointer;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
