#app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 75px;
  max-height: 75px;
  margin-bottom: 10px;
  background-color: DarkGrey;
}

.navbarList {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 5px;
}

.navbarListItem {
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.navbarListItem:hover {
  background-color: orange;
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  cursor: pointer;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInputField {
  padding: 15px;
  margin: 10px;
  border: solid 1px black;
}

.userSubmit {
  width: 200px;
  padding: 15px;
  margin: 10px;
}

.userSubmit:hover {
  background-color: orange;
}

.splashWrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 10px;
}

.songIndex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.songIndexItem {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 30px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.musicPlayer {
  display: flex;
  padding: 20px;
  padding-bottom: 30px;
  background-color: DarkGrey;
  min-width: 100%;
  height: 20px;
  justify-content: center;
}
