.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.translate-appear {
  opacity: 0;
  transform: translate(-250px,0);
  transform: translate3d(-250px,0,0);
}

.translate-appear.translate-appear-active {
  opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.translate-enter {
  opacity: 0;
  transform: translate(-250px,0);
  transform: translate3d(-250px,0,0);
}

.translate-enter.translate-enter-active {
  opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.translate-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 500 ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.translate-leave.translate-leave-active {
	opacity: 0;
	transform:   translate(250px,0);
	transform: translate3d(250px,0,0);
}


.scroll-appear {
  opacity: 0;
  transform: translate(0,-250px);
  transform: translate3d(0,-250px,0);
}

.scroll-appear.scroll-appear-active {
  opacity: .75;
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
